*{
  margin: 0;
  padding: 0;
}  
div{
  display: inline-block;
}
body{
  background: rgb(255, 255, 255);
  text-align: center;
  background-image: url(datadiri.png);
  background-size: 65%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 30px;
}
.login{
  width: 600px;
  height: 430px;
  background-color: rgba(228, 133, 133, 0.39);
  padding-top: 10px;
  border-radius: 20px;
  margin: 10px ;
}
.login h2{
  text-align: center;
  margin-top: 8px;
  margin-bottom: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
.login form button a{
  color: #FF748E;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}
input[type=text], input[type=password], input[type=date]{
  border: none;
  background-color:white;
  width: 80%;
  height: 30px;
  padding-left: 15px;
  display:block;
  margin: 5px auto;
  border-radius: 8px;
  color: #FF748E;;
}
footer {
  background-image: linear-gradient(to left, rgba(189, 75, 170, 0.603), rgb(165, 55, 150));
  height: 30px;
  text-align: center auto ;
  padding-top: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
footer p{
  color: #FFC0B5;
}
input[type=radio],input[type=checkbox], input[type=button]{
  margin-left:50px;
  margin-top: 3px;
}
p{
  display: inline;
  color: white;
}
.login input::placeholder {
  color: #FF748E;
}
button{
  background-color:white;
  border-radius: 3px;
  border: none;
  margin:10px auto;
  display:block;
  width: 83%;
  height: 30px; 
  color: #FF748E; 
} 
button a{
  text-decoration: none;
}
h2{
  text-align: center;
  font-size: 16pt;
  margin-top: 30px;
  color: white;
}
ul{
  list-style-type: none;
  margin: 0;
  padding-left: 20px;
  overflow: hidden;
  background-color:#FFF8F6;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #FF748E;
}

li a:hover:not(.active) {
  background-color:#FFF8F6;
  color: #FF748E;
}

.active {
  background-color:#FFF8F6;
  color: #FF748E;
  padding-right: 30px;
}
@font-face{
  font-family: "ajax";
  src: url(AJAX_AMSTERDAM_2016_2017.ttf);
}
.fontajax{
  font-family: "ajax";
  color: #FF748E;
  font-size: 60px;
  letter-spacing: 6px;
  margin-top: 50px;
  margin-bottom: 10px;
} 

